# Konfigurasi Database
DB_HOST=localhost
DB_NAME=skd_cat_bkn
DB_USER=root
DB_PASS=root
DB_CHARSET=utf8mb4

# Environment: development | production
APP_ENV=development

# Base URL aplikasi
BASE_URL=http://localhost/permen
